     <!-- DataTales Example -->
     <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
        <i class="fas fa-plus"></i>
        </button>
    </div>
  
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Category Name</th>
                            <th>Category Detail</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < category.length; i++){ %>
                            <tr>
                              <td><%= i + 1 %></td>
                              <td><%= category[i].categoryName %></td>
                              <td><%= category[i].categoryDetail %></td>
                              <td>
                                <form action="/admin/category/<%= category[i].id %>?_method=DELETE" method="POST">
                                    <a onclick="updateFuction();" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                                  data-id="<%= category[i].id %>" 
                                  data-name="<%= category[i].categoryName %>"
                                  data-detail="<%= category[i].categoryDetail %>"
                                  >
                                  <i class="fas fa-edit"></i></a>
                                 <a onclick="deleteFuction();" type="button" class="btn btn-danger btn-circle btn-sm button-delete"
                                 data-id="<%= category[i].id %>" 
                                 ><i class="fas fa-trash"></i></a>
                                </form>
                              </td>
                            </tr>
                            <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Category Name</th>
                            <th>Category Detail</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        </div>
    </div>